@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html { 
  background: url(../images/frothybeer.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.loginBox {
  padding: 12px;
  width: 285px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 15px 7px 7px rgba(0, 0, 0, 0.144);
}
.loginBox h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #f91942;
  margin-bottom: 50px;
  padding: 13px 0;


}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #f91942;
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center;
  
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: whiye;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background: #f91942;
  border: 2px solid #f91942;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 15px;
  color: white;
  
  
}