body {
    background-color: pink ;
}

#inputContainer {
    display: flex;
    justify-content: center;
}

#breweriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    background: powderblue;
}

.brewery_container {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 1em;
    padding: 0.5em;
    align-items: center;
}

.name_div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.address_div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact_div {
    display: flex;
    width: 10em;
    justify-content: space-around;
}