<html>
    <head></head>
    <body>
             <h2>Add Review</h2>
        <form method="POST" action="/add-review">
            <input type="hidden" value={{id}} name="reviewsId"/>
            <input type="text" placeholder="Enter Name" name="name"/>
            <input type="text" placeholder="Enter Review" name="review"/>
            <button class="savedBTN">Save Review</button>

        </form>

        {{#reviews}}
            {{name}}<br>
            {{review}}<br>
        {{/reviews}}
    </body>
</html>