<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>Listeo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main-color.css" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="no-shadow">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="#">User</a>
							<ul>
								<li><a href="dashboard-my-listings.html">My Breweries</a></li>
								<li><a href="dashboard-reviews.html">My Reviews</a></li>
								<li><a href="dashboard-my-profile.html">My Profile</a></li>
							</ul>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">
					
					<!-- User Menu -->
					<div class="user-menu">
						<div class="user-name"><span><img src="images/dashboard-avatar.jpg" alt=""></span>Hi, Tom!</div>
						<ul>
							<li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
							<li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
							<li><a href="dashboard-bookings.html"><i class="fa fa-calendar-check-o"></i> Bookings</a></li>
							<li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
						</ul>
					</div>


				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">

						<!-- Login -->
						<div class="tab-content" id="tab1" style="display: none;">
							<form method="POST" class="login" action="/login">

								<p class="form-row form-row-wide">
									<label for="username">Username:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>

								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="Login" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div>
								</div>
								
							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">
								
							<p class="form-row form-row-wide">
								<label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>
								
							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
	
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Banner
================================================== -->
<div class="main-search-container plain-color">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-search-headlines">
						<h2>
							Find Nearby 
							<!-- Typed words can be configured in script settings at the bottom of this HTML file -->
							<span class="typed-words"></span>
						</h2>
						<h4>Find your next favorite watering hole</h4>
					</div>

					<div class="main-search-input">

						<div class="main-search-input-item location">
							<div id="autocomplete-container">
								<input id="autocomplete-input" type="text" placeholder="City">
							</div>
							<a href="#"><i class="fa fa-map-marker"></i></a>
						</div>

						<div class="main-search-input-item">
							<select data-placeholder="State" class="chosen-select" >
									<option value="" disabled selected>State</option>
									<option value="alabama">Alabama</option>
									<option value="alaska">Alaska</option>
									<option value="arizona">Arizona</option>
									<option value="arkansas">Arkansas</option>
									<option value="california">California</option>
									<option value="colorado">Colorado</option>
									<option value="connecticut">Connecticut</option>
									<option value="delaware">Delaware</option>
									<option value="district_of_columbia">District of Columbia</option>
									<option value="florida">Florida</option>
									<option value="georgia">Georgia</option>
									<option value="hawaii">Hawaii</option>
									<option value="idaho">Idaho</option>
									<option value="illinois">Illinois</option>
									<option value="indiana">Indiana</option>
									<option value="iowa">Iowa</option>
									<option value="kansas">Kansas</option>
									<option value="kentucky">Kentucky</option>
									<option value="louisiana">Louisiana</option>
									<option value="maine">Maine</option>
									<option value="maryland">Maryland</option>
									<option value="massachusetts">Massachusetts</option>
									<option value="michigan">Michigan</option>
									<option value="minnesota">Minnesota</option>
									<option value="mississippi">Mississippi</option>
									<option value="missouri">Missouri</option>
									<option value="montana">Montana</option>
									<option value="nebraska">Nebraska</option>
									<option value="nevada">Nevada</option>
									<option value="new_hampshire">New Hampshire</option>
									<option value="new_jersey">New Jersey</option>
									<option value="new_mexico">New Mexico</option>
									<option value="new_york">New York</option>
									<option value="north_carolina">North Carolina</option>
									<option value="north_dakota">North Dakota</option>
									<option value="ohio">Ohio</option>
                                    <option value="oklahoma">Oklahoma</option>
									<option value="oregon">Oregon</option>
									<option value="pennsylvania">pennsylvania</option>
									<option value="rhode_island">Rhode Island</option>
									<option value="south_carolina">South Carolina</option>
									<option value="south_dakota">South Dakota</option>
									<option value="tennessee">Tennessee</option>
									<option value="texas">Texas</option>
									<option value="utah">Utah</option>
									<option value="vermont">Vermont</option>
									<option value="virginia">Virginia</option>
									<option value="washington">Washington</option>
									<option value="west Virginia">West Virginia</option>
									<option value="wisconsin">Wisconsin</option>
									<option value="wyoming">Wyoming</option>
							</select>
						</div>

						<button class="button" onclick="window.location.href='/listings'">Search</button>

					</div>
				</div>
			</div>
			<!-- Features Categories -->
			<div class="row">
				<div class="col-md-12">
					<h5 class="highlighted-categories-headline">Or browse featured categories:</h5>
					  
					<div class="highlighted-categories">
						<!-- Box -->
						<a href="listings-list-with-sidebar.html" class="highlighted-category">
					    	<h4>Micro</h4>
						</a>	

						<!-- Box -->
						<a href="listings-list-full-width.html" class="highlighted-category">
					    	<h4>Nano</h4>
						</a>	

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Regional</h4>
						</a>	

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Brewpub</h4>
						</a>

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Large</h4>
						</a>

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Planning</h4>
						</a>	

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Bar</h4>
						</a>

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Contract</h4>
						</a>
						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Proprietor</h4>
						</a>

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<h4>Closed</h4>
						</a>					
					</div>
					
				</div>
			</div>
			<!-- Featured Categories - End -->
		</div>

	</div>

	<!-- Main Search Photo Slider -->
	<div class="container msps-container">

		<div class="main-search-photo-slider">
			<div class="msps-slider-container">
				<div class="msps-slider">
					<div class="item"><img src="images/beer1.jpg" class="item" title="Title 1"/></div>
					<div class="item"><img src="images/beer2.jpg" class="item" title="Title 1"/></div>
					<div class="item"><img src="images/beer3.jpg" class="item" title="Title 1"/></div>
				</div>
			</div>
		</div>

		<div class="msps-shapes" id="scene">
		</div>
	</div>



</div>


<!-- Content
================================================== -->



<!-- Listings -->
<div class="container margin-top-70">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline margin-top-75">
					<strong class="headline-with-separator">Your Breweries</strong>
				<span>Discover top-rated local businesses</span>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="simple-slick-carousel dots-nav">

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-01.jpg" alt="">

						<div class="listing-badge now-open">Now Open</div>
						
						<div class="listing-item-content">
							<span class="tag">Eat & Drink</span>
							<h3>Tom's Restaurant</h3>
							<span>964 School Street, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="3.5">
						<div class="rating-counter">(12 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-02.jpg" alt="">
						<div class="listing-item-details">
							<ul>
								<li>Friday, August 10</li>
							</ul>
						</div>
						<div class="listing-item-content">
							<span class="tag">Events</span>
							<h3>Sticky Band</h3>
							<span>Bishop Avenue, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="5.0">
						<div class="rating-counter">(23 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->		

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-03.jpg" alt="">
						<div class="listing-item-details">
							<ul>
								<li>Starting from $59 per night</li>
							</ul>
						</div>
						<div class="listing-item-content">
							<span class="tag">Hotels</span>
							<h3>Hotel Govendor</h3>
							<span>778 Country Street, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="2.0">
						<div class="rating-counter">(17 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-04.jpg" alt="">

						<div class="listing-badge now-open">Now Open</div>

						<div class="listing-item-content">
							<span class="tag">Eat & Drink</span>
							<h3>Burger House</h3>
							<span>2726 Shinn Street, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="5.0">
						<div class="rating-counter">(31 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-05.jpg" alt="">
						<div class="listing-item-content">
							<span class="tag">Other</span>
							<h3>Airport</h3>
							<span>1512 Duncan Avenue, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="3.5">
						<div class="rating-counter">(46 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->

			<!-- Listing Item -->
			<div class="carousel-item">
				<a href="listings-single-page.html" class="listing-item-container">
					<div class="listing-item">
						<img src="images/listing-item-06.jpg" alt="">

						<div class="listing-badge now-closed">Now Closed</div>

						<div class="listing-item-content">
							<span class="tag">Eat & Drink</span>
							<h3>Think Coffee</h3>
							<span>215 Terry Lane, New York</span>
						</div>
						<span class="like-icon"></span>
					</div>
					<div class="star-rating" data-rating="4.5">
						<div class="rating-counter">(15 reviews)</div>
					</div>
				</a>
			</div>
			<!-- Listing Item / End -->
			</div>
			
		</div>

	</div>
</div>
<!-- Listings / End -->

<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="images/logo.png" alt="">
				<br><br>
				<p>Brewstr is an app made for DigitalCrafts Backend Project. Add a description of the project here.</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="#">Login</a></li>
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">My Account</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">Meet the Dev's</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="contact_div">
					<span class="contact_span">William Ezrine</span>
					<div class="social-icons">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
					</div>
				</div>
				<div class="contact_div">
					<span class="contact_span">Jorge Cuza</span>
					<div class="social-icons">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
					</div>
				</div>
				<div class="contact_div">
					<span class="contact_span">Summer Johnson</span>
					<div class="social-icons">
						<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
						<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
						<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
						<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
					</div>
				</div>
			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2019 Listeo. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-migrate-3.3.1.min.js"></script>
<script type="text/javascript" src="scripts/mmenu.min.js"></script>
<script type="text/javascript" src="scripts/chosen.min.js"></script>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script type="text/javascript" src="scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="scripts/waypoints.min.js"></script>
<script type="text/javascript" src="scripts/counterup.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="scripts/tooltips.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>


<!-- Leaflet // Docs: https://leafletjs.com/ -->
<script src="scripts/leaflet.min.js"></script>

<!-- Leaflet Maps Scripts -->
<script src="scripts/leaflet-markercluster.min.js"></script>
<script src="scripts/leaflet-gesture-handling.min.js"></script>
<script src="scripts/leaflet-listeo.js"></script>

<!-- Leaflet Geocoder + Search Autocomplete // Docs: https://github.com/perliedman/leaflet-control-geocoder -->
<script src="scripts/leaflet-autocomplete.js"></script>
<script src="scripts/leaflet-control-geocoder.js"></script>



<!-- Typed Script -->
<script type="text/javascript" src="scripts/typed.js"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["Breweries", "Tap Rooms", "Bars"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>



<!-- Home Search Scripts -->
<script>
    $(window).on('load', function() { $('.msps-shapes').addClass('shapes-animation'); });
</script>
 
<script src="scripts/parallax.min.js"></script>
<script>
const parent = document.getElementById('scene');
const parallax = new Parallax(parent, {
  limitX: 50,
  limitY: 50,  
});
 
 
$('.msps-slider').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 5000,
    speed: 1000,
    fade: true,
    cssEase: 'linear'
});

</script>


</body>
</html>