<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brewstr | Login</title>
 <!-- <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main-color.css" id="colors"> -->
  <link rel="stylesheet" href="/css/loginstyles.css">
</head>
<body>
  
  <div class='loginBox'>
    <!--<h1>Login</h1>-->
    <div class='logoContainer'>
      <img src="images/brewstr-login.png" class='logoBrewster' alt="brewsterLogo">
    </div>

    <div class='textbox'>
      <form action="/login" method="POST">
        <i class="fa fa-beer" aria-hidden="true"></i>        
        <input type="text" placeholder="Username" name="username" id='username' required/>
      </div>

    <div class='textbox'>
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" placeholder="Password" name="password" required />
    </div>
    <div class="error-message">{{message}}</div>
    <button class='btn'>Login</button>

  </form>

    <a href="/register"><button class='btn'>Register</button></a>
    <form method="POST" action="/login">
      <input type="hidden" name="username" value="Guest">
      <input type="hidden" name="password" value="guest123">
      <button class='btn'>Login as Guest</button>
    </form>

  </div>
</body>
</html>