<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/loginstyles.css">
  <link rel="stylesheet" href="../css/registerstyles.css">
  <title>Brewster | Register</title>
</head>
<body>
<div class='loginBox'>
  <h1>Registration</h1>
  <form method="POST" action="/register">
    <div class='textbox'>
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="username" placeholder="Username" required />
    </div>
    <div class='textbox'>
      <i class="fa fa-lock" aria-hidden="true"></i>
      <input type="password" name="password" placeholder="Password" required />
    </div>
    
    <button class='btn'>Register</button>
  </form>
</div>


</html>